/* styles.css */


/* Beginning of Layout Styles */

body {
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1em;
	justify-content: stretch;
}

.l-header-main,
.l-main-content,
.l-sidebar {
	align-items: center;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 100%;
}

.l-header-main {
	background-color: #000000;
	color: #091034;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	line-height: 1%;
}

.l-main-content {
	color: #091034;
}

.l-education1 {
	align-items: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.l-education2 {
	align-items: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.l-sidebar {
	background-color: #5A18C9;
	color: #e6e6e6;
}

.l-sidebar img {
	border-radius: 50%;
	margin: 1em auto;
}

.l-details-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.l-about-me-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}

.l-hobbies-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}


/* End of layout styles */


/* Base styles listed in order of occurrence */

h1 {
	color: #340933;
}

h3 {
	color: #5A18C9;
}

h4 {
	color: #340933;
}

h5 {
	font-size: 1em;
	line-height: 1%;
	text-decoration-color: #9A0794;
	text-decoration-line: underline;
}

hr {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	width: 60%;
}

.header-hr {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	width: 90%;
}

.contact-details {
	color: #fff;
}

.l-about-me-container p {
	padding-left: 1em;
	padding-right: 1em;
}

a {
	color: #ffffaa;
}


/* End of Base styles */


/* Module styles listed in order of occurrence */

.christian-name {
	color: #9A0794;
	font-weight: 900;
	margin-right: 1%;
}

.surname {
	color: #5A18C9;
}

.freelance {
	border-bottom: 2px solid #9A0794;
}

.education-title,
.experience-title,
.references-title {
	align-items: center;
	align-self: center;
	display: flex;
	flex-direction: row;
}

.fa-graduation-cap,
.fa-briefcase,
.fa-pen-fancy {
	margin-left: 5%;
	margin-right: 5%;
}

.fa-bowling-ball {
	visibility: hidden;
}

.dates {
	line-height: 10%;
}

.description {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.description>h3,
.description>h4 {
	align-self: center;
	line-height: 10%;
}

.contact-header {
	background-color: #0d0d0d;
	display: flex;
	justify-content: center;
	width: 100%;
}

.about-me-header {
	background-color: #0d0d0d;
	display: flex;
	justify-content: center;
	width: 100%;
}

.hobbies-header {
	background-color: #0d0d0d;
	display: flex;
	justify-content: center;
	width: 100%;
}

.footer-images {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-self: center;
}

.f-image {
	background-color: #000000;
	border-radius: 20%;
	margin: 15% 15% 15% 15%;
}


/* End of Module Styles */

@media only screen and (min-width:1024px) {
	/* Beginning of Layout Styles */
	body {
		display: grid;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 1em;
		grid-auto-rows: auto;
		grid-gap: 1em;
		grid-template-columns: repeat(12, 1fr);
		justify-content: stretch;
		width: 100%;
	}
	.l-header-main {
		background-color: #ffffff;
		display: grid;
		grid-auto-rows: auto;
		grid-column: 4/12;
		grid-row: 1/3;
		grid-template-columns: 1fr;
		justify-content: start;
	}
	.l-main-content {
		display: grid;
		grid-auto-rows: auto;
		grid-column: 4/12;
		grid-row: 4/20;
		grid-template-columns: 1fr;
		width: 100%;
	}
	.l-education1,
	.l-education2,
	.l-education3,
	.l-education4 {
		display: grid;
		grid-auto-rows: auto;
		grid-template-columns: 15% 35% 50%;
	}
	.l-experience {
		display: grid;
		grid-template-columns: 15% 35% 50%;
		grid-auto-rows: auto;
	}
	.l-reference {
		display: grid;
		grid-template-columns: 45% 45%;
		grid-auto-rows: auto;
		grid-column-gap: 8em;
		justify-content: center;
		justify-self: center;
	}
	.l-sidebar {
		align-items: center;
		grid-column: 1/4;
		grid-row: 1/20;
		justify-content: center;
	}
	/* End of Layout Styles */
	/* Beginning of Base Styles */
	hr {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
		border: 0;
		height: 1px;
		width: 80%;
	}
	/*End of Base Styles  */
	/*Beginning of Modules Styles  */
	.dates {
		height: 100%;
	}
	.description {
		display: grid;
		grid-auto-rows: auto;
		grid-template-columns: 1fr;
	}
	.education-title,
	.experience-title,
	.references-title {
		display: grid;
		grid-auto-rows: auto;
		grid-gap: 1em;
		grid-template-columns: 16% 84%;
	}
	.fa-graduation-cap,
	.fa-briefcase,
	.fa-pen-fancy {
		justify-self: end;
	}
	.img-container {
		align-items: center;
		align-self: center;
		display: grid;
		grid-auto-rows: auto;
		grid-column: 1/4;
		grid-row: 1/2;
		grid-template-columns: 1fr;
		justify-content: center;
		justify-self: center;
		margin: auto 1em;
	}
	img {
		align-self: center;
		margin: auto;
	}
	.fa-bowling-ball {
		align-self: start;
		display: grid;
		grid-auto-rows: auto;
		grid-template-columns: 1fr;
		justify-self: end;
		padding-right: 10px;
		padding-top: 13px;
		visibility: visible;
	}
}